<!--
Coded for fun and with love by: Michael Lancaster (twitter: @weblancaster) & (github: @weblancaster)
Designed with love and for fun by: Daniel Branca (twitter: @designerdanb)
-->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Instagram</title>

	<!-- metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- fav icon -->
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- css -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/css/app.css">

	<!-- configuration -->
	<script>
		var match = window.location.href.match(/^(.+)\/admin\/[^\/]+/)
		
		if (match) {
			/* No, this isn't the actual authentication. It's just to not have to add a template renderer on the server-side. You can't do anything without the correct authentication key. Don't bother. */
			console.log(match);
			var SOCKET_ENDPOINT = match[1];
			var isAdmin = true;
		} else {
			var SOCKET_ENDPOINT = window.location.href;
			var isAdmin = false;
		}
	</script>

	<!-- script -->
	<script src="/js/jquery.1.9.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/handlebarsjs.1.0.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

</head>
<body>

	<!--[if lt IE 9]>
      <p class="browsehappy Hfwb" style="color: black; font-size: 22px;">You are using an <strong style="color: #999;">outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience on this site.</p>
  <![endif]-->

	<!--[if lt IE 9]>
      <div class="Hdn">
  <![endif]-->

	<button class="fullscreenButton">
		full screen
	</button>
	
	<a href="#" class="settingsButton">
		settings
	</a>

	<!--********************************
	IMAGE WRAPPER - content
	*********************************-->
	<div id="imgContent" class="Hcf"></div>

	<!--********************************
	TEMPLATES
	*********************************-->

	<script id="mostRecent-tpl" type="text/x-handlebars-template">
		<div class="image Hvh" data-id="{{id}}">
			{{#if video}}
				<video controls poster="{{thumbnail}}" onclick="this.paused?this.play():this.pause();">
					<source src="{{url}}" type="video/mp4">
				</video>
			{{else}}
				<a class="fancy" title="{{caption}}" href="{{url}}"><img src="{{url}}" /></a>
			{{/if}}
		</div>
	</script>

	<!-- CALL MAIN APP SCRIPT -->
	<script src="/js/app.js"></script>
	<script>
		$(document).ready(function() {

			$("a.fancy").fancybox();
			
		});
	</script>

	<!--[if lt IE 9]>
    </div>
  <![endif]-->
</body>
</html>
