<html>
	<head>
		<meta charset="UTF-8">
		<title>Settings</title>
	</head>
	<body>
		<form id="settingsForm" action="" method="post">
			<div>
				<label for="tags">Tags:</label>
				<input type="text" id="tags" name="tags" value="{{tags}}">
			</div>
			<div>
				<label for="showVideo">Show videos:</label>
				<input type="checkbox" id="showVideo" name="showVideo" {{#if showVideo}}checked{{/if}}>
			</div>
			<button type="submit">Save</button>
		</form>
	</body>
</html>
<script src="/js/jquery.1.9.min.js"></script>
<script src="//malsup.github.io/min/jquery.form.min.js"></script>
<script>
	$('#settingsForm').ajaxForm(function() { 
		console.log('test')
		setTimeout(function(){ window.location = window.location.href.replace('/settings','') }, 3000);
	});
</script>